body{
    background-color: beige;
}
.child
{
    font-size: 20px;
    float: left;
    width: 50%;


   
}
#container
{
    width: 100%;
    background-color: green;
    height: 100px;

}
#h2
{
    text-align: left;
    font-size: 20px;

}

#meniu
{
    text-align: right;
}
a
{
    margin-left: 20px;
}

.image
{
    float: left;   
    margin-left:50px;
}

img
{
    height: 200px;
    width: 300px;
}
   
   

